<div class="span3">
  <ul class="nav nav-list">

    <li class="active"><a href="#" ><i class="icon-chevron-right"></i> Local Admin Management</a>
      <ul>


        <li><a href="#">Settings</a>
          <ul>
            <li><a href=<%="#{edit_la_general_settings_local_admin_path(@local_admin)}"%>>General Setting</a></li>
            <li><a href=<%="#{edit_la_paas_billing_profile_local_admin_path(@local_admin)}"%>>Billing Profile</a></li>
            <li><a href=<%="#{edit_ga_paas_billing_profile_global_admins_path}"%>>Organization Details</a></li>
            <li><a href=<%="#{edit_ga_paas_billing_profile_global_admins_path}"%>>Local Terms of Use</a></li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>
</div>
