<div class="span3">
  <ul class="nav nav-list">

    <li class="active"><a href="#" ><i class="icon-chevron-right"></i> Platform Setting</a></li>
    <li class="active"><a href=<%="#{local_admins_path}"%> ><i class="icon-chevron-right"></i>LocalAdmin Management</a>

    </li>
  </ul>
</div>
