<div class="span3">
  <ul class="nav nav-list">

    <li><a href="#"><i class="icon-chevron-right"></i> Platform Setting</a>
      <ul>
        <li><a href="#">General Setting</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Integrations</a></li>
        <li><a href="#">Countries</a></li>
        <li><a href="#">Languages</a></li>
        <li><a href="#">Currencies</a></li>
        <li><a href="#">Billing Profiles</a>
          <ul>
            <li><a href="#">Default Billing Profile</a></li>
            <li><a href="#">PaaS Billing Profile</a></li>
          </ul>
        </li>
        <li><a href="#">PaaS</a>
          <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">Terms ans Conditions</a></li>
          </ul>
        </li>
        <li><a href="#">Projects</a>
          <ul>
            <li><a href="#">Commissions</a></li>
            <li><a href="#">Arena</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
 </div>