<div class="container nav-collapse">
  <ul class="nav">
    <% if user_signed_in? %>

        <li>
          <a href="/public"><%= current_user.user_profile.full_name rescue nil %></a>
        </li>
        <li>


        </li>


    <% end %>
  </ul>
</div><!--/.nav-collapse -->


<% if user_signed_in? %>
    <!--<%#= render :partial => "/shared/user_name" %>-->
<% end %>