<div class="span3 pannelBorder pull-left">
  <div class="side_pannel_header">Platform Setting</div>
  <div class="localAdminEditPannel">
    <div class="menu_list firstpane">
      <a href="" class="menu_head">Setting</a>
      <a href="" class="menu_head">Address</a>
      <a href="" class="menu_head">Links</a>
      <a href="" class="menu_head">Terms of Use</a>
      <a href="" class="menu_head">Billing Profile</a>
    </div>
  </div>
</div>

<div class=""> <h3 class="secondHeading">Choose the plan that fits your needs and pay as you go</h3></div>

<div class="span9 pull-right contentBg pricePage">
  <h5 class="secondHeading">Standard Plans</h5>
  <ul class="clearfix loginProducts">
    <li>
      <div class="liHeader">
      <h4>Product name</h4>
      <div class="productPrice">$200</div>
      </div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Downgrade</button>
    </li>
    <li>
      <div class="liHeader">
        <h4>Product name</h4>
        <div class="productPrice">$200</div>
      </div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Downgrade</button>
    </li>
    <li>
      <div class="liHeader">
        <h4>Product name</h4>
        <div class="productPrice">$200</div>
      </div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-primary">Your plan</button>
    </li>
    <li>
      <div class="liHeader">
        <h4>Product name</h4>
        <div class="productPrice">$200</div>
      </div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Upgrade</button>
    </li>
  </ul>
  <div class="contentFooter">
    <p>Enterprises: Need more options? <span><a href="#">Contact Sales</a></span></p>
    <p>We also offer a basic Free Version (your own platform with Unlimited Projects). Just <span><a href="#">Apply Now</a></span> to get started or <a href="#">click here</a> to cancel</p>
  </div>
</div>