<div class="span12 contentBg">
  <div class="contentBreadcrumb">
    <span class="contentBreadcrumb1 activeBreadcrumb">1.Set Account Name and Area</span>
    <span class="contentBreadcrumb2 activeBreadcrumb">2.Billing and Payment</span>
    <span class="contentBreadcrumb3">3.Confirmation</span>
  </div>
  <div class="content">
    <h1 class="center">SET YOUR BILLING INFORMATION</h1>
    <form class="form-horizontal margin30Top clearfix">
      <div class="span6 pull-left margin0">
        <div class="labels clearfix">
          <label class="radio pull-left radios">
            <input type="radio" name="optionRadios" value="">
            Company
          </label>
          <label class="radio pull-left radios">
            <input type="radio" name="optionRadios" value="">
            Individual
          </label>
        </div>
        <div class="companyDetails marginTop10">
           <div class="control-group">
             <label class="label control-label">
               Company :
             </label>
             <div class="controls">
               <input type="text"  placeholder="Webonise">
             </div>
           </div>
        <div class="control-group">
          <label class="label control-label">
            Legal form :
          </label>
          <div class="controls">
            <input type="text"  placeholder="Ltd or Inc.">
          </div>
        </div>
        </div>                    <!-- companyDetails ends here -->
        <div class="userDetails marginTop10">
          <div class="control-group">
            <label class="label control-label">
              First Name :
            </label>
            <div class="controls">
              <input type="text"  placeholder="Richard">
            </div>
          </div>
          <div class="control-group">
            <label class="label control-label">
              Last Name :
            </label>
            <div class="controls">
              <input type="text"  placeholder="Jones">
            </div>
          </div>
        </div>                    <!-- userDetails ends here -->
        <div class="control-group">
          <label class="label control-label">
           billing email :
          </label>
          <div class="controls">
            <input type="text"  placeholder="richard.jones@yopmail.com">
          </div>
        </div>
        <div class="control-group">
          <label class="label control-label">
            Phone :
          </label>
          <div class="controls">
            <input type="text"  placeholder="9434312312">
          </div>
        </div>
        <div class="control-group">
          <label class="label control-label">
            VAT :
          </label>
          <div class="controls">
            <input type="text"  placeholder="1212121">
          </div>
        </div>
      </div>     <!-- span6 pull-left ends here -->
      <div class="span6 pull-right margin0">
        <h6 class="margin0">Billing address:</h6>
        <div class="control-group">
          <div class="">
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
          </div>
        </div>
        <div class="control-group">
        <input type="text"  placeholder="State"><input type="text" class="input-small" placeholder="ZIP/Postal">
        </div>
        <div class="control-group">

            <input type="text"  placeholder="City">

        </div>
        <div class="control-group">

            <input type="text"  placeholder="Address">

        </div>
        <div class="control-group">

            <input type="text"  placeholder="Additional Address">

        </div>
      </div>
      <div class="clearfix"></div>
      <div class="creditCard clearfix">
        <div class="span5 margin0 pull-left images">

        </div>
        <div class="span6 margin0 pull-left">
          <div class="control-group">
            <label class="label control-label">
              Card Number :
            </label>
            <div class="controls">
              <input type="text"  placeholder="1121121212121212">
            </div>
          </div>
          <div class="control-group">
            <label class="label control-label">
              Expires :
            </label>
            <div class="controls">
              <select class="input-small pull-left">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <select class="input-small pull-left">
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
              </select>
              <input type="text" class="input-small"  placeholder="776">
            </div>
          </div>
        </div>
      </div>
    </form>


  <div class="center">
    <button class="btn btn-primary btnMargin btn-large">Subscribe</button>
  </div>
  </div>
</div>