<div class="span12 contentBg">
  <div class="contentBreadcrumb">
    <span class="contentBreadcrumb1 activeBreadcrumb">1.Set Account Name and Area</span>
    <span class="contentBreadcrumb2 activeBreadcrumb">2.Billing and Payment</span>
    <span class="contentBreadcrumb3">3.Confirmation</span>
  </div>
  <div class="content center">
    <h1>Page under construction!</h1>

  <div class="pull-right">
    <button class="btn btn-inverse btnMargin">Platform setup</button>
  </div>

</div>