<div class="span3 pannelBorder pull-left">
  <div class="side_pannel_header">Platform Setting</div>
  <div class="localAdminEditPannel">
    <div class="menu_list firstpane">
      <a href="" class="menu_head">Setting</a>
      <a href="" class="menu_head">Address</a>
      <a href="" class="menu_head">Links</a>
      <a href="" class="menu_head">Terms of Use</a>
      <a href="" class="menu_head">Billing Profile</a>
    </div>
  </div>
</div>
<div class="span9 rightContentDiv pull-right contentBg ">
      <p>You may close your account at any time. As a reminder, you may be interested in <a href="#">downgrading to a free account</a>, which enables you to keep your account open and manage unlimited projects for free</p>
      <br />
      <br />
      <p>Are you sure you would like to close your account? your credit card will not be refunded for the remainder if the unused period.</p>
      <label class="checkbox ">
        <input type="checkbox" value="">
        Check this box to confirm
      </label>
  <div class="buttons center">
    <button class="edit btn btn-inverse">Ok</button>
    <button class="delete btn btn-inverse">Cancel</button>
  </div>

</div>