<div class="span12 contentBg">
  <div class="contentBreadcrumb">
    <span class="contentBreadcrumb1 activeBreadcrumb">1.Set Account Name and Area</span>
    <span class="contentBreadcrumb2 activeBreadcrumb">2.Billing and Payment</span>
    <span class="contentBreadcrumb3 activeBreadcrumb">3.Confirmation</span>
  </div>
    <div class="content center">
      <h1>Congratulations!</h1>
      <h5>Your new <span class="impText"> "account name"</span> Account has been successfully created.</h5>
      <p>We are happy you decided to use Winnitude to create your own Crowdfunding platform. <br /> Thank You!</p>
      <p class="helpText">Please refer to our Account Management Guide if you need help with management and configuration of your new croudfunding platform.</p>
    </div>
    <div class="pull-right">
      <button class="btn btn-inverse btnMargin">Platform setup</button>
    </div>

</div>