<div class="span12 contentBg">
  <div class="contentBreadcrumb">
    <span class="contentBreadcrumb1 activeBreadcrumb breadcrumbList">1.Set Account Name and Area</span>
    <span class="contentBreadcrumb2 breadcrumbList">2.Billing and Payment</span>
    <span class="contentBreadcrumb3 breadcrumbList">3.Confirmation</span>
     <div class="span8 offset2 content">
       <div class="alertMessage ">

         <strong>Product name</strong> for <strong>$15 USD/month</strong> or <strong>35 days free trial</strong>
       </div>
       <form class="form-horizontal">
       <div class="control-group">
         <lable class="control-label">Set the Account Area:</lable>
         <div class="controls">
           <select>
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
           </select>
           </select>
         </div>
       </div>
         <div class="control-group">
           <lable class="control-label">Set Platform Name:</lable>
           <div class="controls">
             <input type="text" placeholder="Platform Name">
           </div>
         </div>
         <div class="control-group">
           <lable class="control-label">Set Platform URL:</lable>
           <div class="controls">
             <input type="text" placeholder="http://www.tom.winnitude.com">
           </div>
         </div>

             <textarea class="conditions pull-left" rows="5">Terms and Conditions

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </textarea>
             <div class="pull-left termsConditions">
               <label class="checkbox">
                 <input type="checkbox" value="">
                 I accept the Terms and Conditions
               </label>
             </div>
              <div class="clearfix"></div>
            <div class="clearfix">
              <div class="pull-left"></div>
             <div class="pull-right">
               <button class="btn btn-inverse">Change Plan</button>
               <button class="btn btn-inverse">Proceed</button>
             </div>
            </div>
       </form>
     </div>
  </div>
</div>