<div class="span3 pannelBorder pull-left">
  <div class="side_pannel_header">Platform Setting</div>
  <div class="localAdminEditPannel">
    <div class="menu_list firstpane">
      <a href="" class="menu_head">Setting</a>
      <a href="" class="menu_head">Address</a>
      <a href="" class="menu_head">Links</a>
      <a href="" class="menu_head">Terms of Use</a>
      <a href="" class="menu_head">Billing Profile</a>
    </div>
  </div>
</div>
<div class="span9 rightContentDiv pull-right contentBg">
  <div class="span3 pull-left">
    <h3>Upgrading To:</h3>
    <div class="upgradingDetails">
      <h4>MyWebApp Premium</h4>
      <span class="impText">$99/month</span>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management</p>
    </div>
  </div>
  <div class="span6 details pull-right">
    <h3>Details</h3>
    <div class="divider"></div>
    <p>Your account will be upgraded</p>
    <p>We will bill your credit card a pro-rated amount for the raminder of the current pay period.<br />This comes out to a total of $26.40 (8days).</p>
    <br />
    <p>Starting next pay period, we'll charge your credit card $99 per month.</p>
    <div class="credit">
      <h3>Credit</h3>
      <div class="divider"></div>
      <table class="table48">
        <tr>
          <td colspan="1">Type</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="1">Name on Card:</td>
          <td>Mike Smith</td>
        </tr>
        <tr>
          <td colspan="1">Credit Card</td>
          <td>************4494</td>
        </tr>
        <tr>
          <td colspan="1">Expiration</td>
          <td>07/2012</td>
        </tr>
      </table>
      <div class="buttons">
      <button class="edit btn btn-inverse">Edit</button>
      <button class="delete btn btn-inverse">Delete</button>
      </div>
      <button class="upgrade btn btn-primary btn-large">Upgrade</button>
    </div>
  </div>

</div>