<div class=""> <h2 class="secondHeading">Choose the plan that fits your needs and pay as you go</h2></div>

<div class="span12 contentBg pricePage">
  <h5 class="secondHeading">Standard Plans</h5>
  <ul class="clearfix">
    <li>
      <h4>Product name</h4>
      <div class="productPrice">$200</div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Apply</button>
    </li>
    <li>
      <h4>Product name</h4>
      <div class="productPrice">$200</div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Apply</button>
    </li>
    <li>
      <h4>Product name</h4>
      <div class="productPrice">$200</div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Apply</button>
    </li>
    <li>
      <h4>Product name</h4>
      <div class="productPrice">$200</div>
      <div class="divider"></div>
      <p class="impText">Your own platform with <br /><span class="blackTxt">Up to</span> 3 active CONTESTS</p>
      <p>Unlimited Projects 5 collaborators Dedicated Custom Commissions Equity Based Project Management No Profit Projects Management </p>
      <div class="divider"></div>
      <p>Winnitude Commissions :</p>
      <p class="bold">2% on Standard Projects</p>
      <p class="bold">4% on Presale Projects</p>
      <p class="impText">30 days FREE TRIAL</p>
      <button class="btn btn-inverse">Apply</button>
    </li>
  </ul>
  <div class="contentFooter">
    <p>Enterprises: Need more options? <span><a href="#">Contact Sales</a></span></p>
    <p>We also offer a basic Free Version (your own platform with Unlimited Projects). Just <span><a href="#">Apply Now</a></span> to get started</p>
  </div>
</div>