<div class="span3 pannelBorder pull-left">
  <div class="side_pannel_header">Platform Setting</div>
  <div class="localAdminEditPannel">
    <div class="menu_list firstpane">
      <a href="" class="menu_head">Setting</a>
      <a href="" class="menu_head">Address</a>
      <a href="" class="menu_head">Links</a>
      <a href="" class="menu_head">Terms of Use</a>
      <a href="" class="menu_head">Billing Profile</a>
    </div>
  </div>
</div>