
<div class="span3 pannelBorder pull-left">
  <div class="side_pannel_header">Platform Setting</div>
    <div class="localAdminEditPannel">
      <div class="menu_list firstpane">
    <p class="menu_head">General Setting</p>
    <p class="menu_head">Links</p>
    <p class="menu_head">Integrations</p>
    <p class="menu_head">Countries</p>
    <p class="menu_head">Languages</p>
    <p class="menu_head">Currencies</p>
    <p class="menu_head">Billing Profiles</p>
    <div class="menu_body">
      <a href="#">Default Billing Profiles</a>
      <a href="#">Pass Billing Profiles</a>
    </div>
    <p class="menu_head">Paas</p>
    <div class="menu_body">
      <a href="#">Products</a>
      <a href="#">Terms and Conditions</a>
    </div>
    <p class="menu_head">Projects</p>
    <div class="menu_body">
      <a href="#">Commissions</a>
      <a href="#">Arena</a>
      <a href="#">Categories</a>
    </div>
    <p class="menu_head">Groups</p>
    <p class="menu_head">Contest</p>
    <p class="menu_head">Static Content</p>
      </div>
    </div>
    <div class="side_pannel_header ">LocalAdmin Management</div>
    <div class="localAdminEditPannel firstpane">
    <p class="menu_head">Settings</p>
    <div class="menu_body">
      <a href="#">General Setting</a>
      <a href="#">Billing Profile</a>
      <a href="#">Organization Details</a>
      <a href="#">Local Terms of Use</a>
    </div>
    </div>
    <div class="side_pannel_header ">Users Management</div>
    <div class="localAdminEditPannel firstpane">
      <p class="menu_head">All Users</p>
      <p class="menu_head">New Users</p>
    </div>


</div>
<div class="span9 pull-right">
    <h1>Welcome To Winnitude!!</h1>
</div>
