a{
    color:#1b1b1b;
}
a:hover{
    color: #777777;
}
ul, li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body {
	padding-top: 60px;
}
.mainTabs .nav-tabs > li > a {
	padding: 4px;
	font-size: 13px;
}
.topUserInfo {
	margin-top: 8px;
	font-size: 13px;
}
.topUserInfo a {
	margin-left: 20px;
}
.margin0 {
	margin: 0;
}
.marginTop4 {
	margin-top: 4px;
}
.marginTop10 {
	margin-top: 10px;
}
.heading {
	line-height: 26px;
	margin-bottom: 10px;
}
.normalLink {
	font-size: 13px;
	display: inline-block;
}

.topUl {
    list-style: none;
    margin: 8px 0 0 10px;
}
/* Custom Css By Akash */
/* accordian css starts */

.side_pannel_header{
    background-color: #3a3a3a;
    line-height: 40px;
    font-size: 15px;
    color: #ffffff;
    padding-left: 10px;
    font-weight: bold;
    width: 210px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}
.side_pannel_header a{
    color: #ffffff;
}
.menu_head {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    margin:1px;
    font-weight:bold;
    background: #f5f5f5;
    display: block;
    color: #1b1b1b;
}
.menu_body {
    display:none;
}
.menu_body a {
    display:block;
    color:#1b1b1b;
    background-color:#c5c5c5;
    font-weight:bold;
    text-decoration:none;
    padding-left: 20px;
    line-height: 25px;
}
.menu_head:hover{
    background-color: #444341;
    color: #ffffff;
}
.menu_body a:hover {
    color: #000000;
    text-decoration:underline;
}
.pannelBorder{
    border: 1px solid #cccccc;
}
.span3.pannelBorder.pull-left {
    width: 218px;
    margin-left: 0px;
}
.mainHeading{
    color: #7e7b7b;
    margin-bottom: 20px;
    padding:10px 0 6px 20px;
    border-bottom: 1px solid #d4d4d4;
    line-height: 40px;
    background-color: whiteSmoke;
    -moz-box-shadow: 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 2px 2px #ccc;
    box-shadow: 1px 2px 2px #ccc;
}
.subHeading{
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    background-color: #c1c1c1;
    line-height: 30px;
}
.span12 form{
    padding-left: 20px;
}
.center{
    text-align: center;
}
.secondHeading{
    text-align: center;
}
.contentBg{
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #7e7b7b;
}
.contentBg ul{
    margin: 0 auto;
    margin-bottom: 20px;
}
.contentBg ul li{
    background-color: #f4f1e8;
    width: 215px;
    float: left;
    text-align: center;
    margin:5px 10px;
    border-radius:60px;
    padding-bottom: 10px;
}
.productPrice{
    font-weight: bold;
}
.divider{
    border-radius: 10px;
    background-color: #e3e2df;
    box-shadow: 2px 2px 2px #fcfcfc;
    height: 2px;
}
.contentBg ul li p{
  width: 205px;
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
}
.impText{
    color: #d40808;
    font-size: 15px;
    line-height: 20px;
    font-weight: bolder;
}
.blackTxt{
    color: #000;
}
.bold{
    font-weight: bold;
}
.contentFooter{
    text-align: center;
    font-family: arial;
    color: #2e2d2d;
}
.contentFooter a{
    color: #2978a6;
}